.hidden.menu {
  display: none;
}

.masthead.segment {
  min-height: 700px;
  padding: 1em 0;
  background: url("../images/gym2.png") no-repeat center center fixed !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

.masthead .logo.item img {
  margin-right: 1em;
}

.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  margin-top: 3em;
  font-size: 4em;
  font-weight: normal;
  font-family: "Bangers", cursive;
}
.hero10 {
  color: #4e68b3;
  font-size: 1.5em;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.ui.vertical.stripe {
  padding: 4em 0;
}

.ui.vertical.stripe h3 {
  font-size: 3.5em;
  font-weight: normal;
  margin-bottom: 2em;
  font-family: "Bangers", cursive;
  letter-spacing: 3px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
  clear: both;
}

.ui.vertical.stripe p {
  font-size: 1.33em;
}

.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0;
}

.ui.stripe.alternate {
  background-color: #3d348b;
}

.quote.stripe.segment {
  padding: 0;
}

.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

.lead-capture {
  margin-top: 14em;
}

.ui.vertical.stripe.schedule {
  background-color: #4e68b3;
}

.ui.vertical.stripe.instructors {
  min-height: 500px;
}

.footer.segment {
  padding: 5em 0;
}

@media only screen and (max-width: 700px) {
  .masthead.segment {
    min-height: 350px;
  }

  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
  }

  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }

  .lead-capture {
    margin-top: 4em;
  }
}

/* Code blocks (Fix a strange bug with prismjs) */
pre {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
  background: #272822;
}
